{% extends 'layouts.master' %}

{% block title %}سلة التسوق - {{ store.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="cart-page">
        <h1 class="page-title">سلة التسوق</h1>
        <salla-cart-page></salla-cart-page>
    </div>
</div>
{% endblock %}